<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}

        {% for fm in form %}
            {{ fm.label_tag }} {{ fm }} {{ fm.errors|striptags }}<br><br>
        {% endfor %}
        <input type="submit" value="Login">

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p> {{ error }}</p>
            {% endfor %}
        {% endif %}
    </form>
    <br>
    <a href="{%  url 's' %}"> Sign Up</a>
</body>
</html>